@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nanum+Myeongjo&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+ID+Guides&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text", serif;
}

.app{
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
}